@import url('https://fonts.googleapis.com/css2?family=Asap:wght@700&family=Bebas+Neue&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Game container */

#gameContainer {
    height: 100vh;
    width: 100%;
    background: linear-gradient(#F3C94C, #e0ac11);
    position: relative;
}

/* Logo section */

#logo {
    height: 10%;
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
    color: #fff;
    margin-top: 25px;
    flex-flow: row wrap;
}

/* Player and Computer score section */

#score {
    height: auto;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 200px;
}

#player, #computer {
    width: 180px;
    height: 50px;
    font-family: 'Asap', sans-serif;
    font-size: 30px;
    color: #fff;
    background: #1ebd2c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #11831a;
}

#playerScore, #divider, #computerScore {
    font-family: 'Asap', sans-serif;
    font-size: 70px;
    color: #fff;
    margin: 0 7px;
}

/* Select option area for the player */

#selectOption {
    width: 100%;
    height: auto;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 50%
}